--
-- PostgreSQL database dump
--

\restrict eFnag7fVk68NssBcifc9p0IiSe72TPtzUGHIwSacdt7srEGf7htP4j7cGrcivwJ

-- Dumped from database version 18.2 (Debian 18.2-1.pgdg13+1)
-- Dumped by pg_dump version 18.2 (Debian 18.2-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estado_guion; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.estado_guion AS ENUM (
    'Borrador',
    'Revisi├│n',
    'Aprobado',
    'En Rodaje',
    'Archivado'
);


ALTER TYPE public.estado_guion OWNER TO admin;

--
-- Name: estado_usuario; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.estado_usuario AS ENUM (
    'activo',
    'inactivo',
    'pendiente',
    'suspendido'
);


ALTER TYPE public.estado_usuario OWNER TO admin;

--
-- Name: formatos; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.formatos AS ENUM (
    'serie',
    'miniserie',
    'pelicula',
    'largometraje',
    'mediometraje',
    'cortometraje',
    'documental',
    'spot publicitario',
    'video musical',
    'video corporativo',
    'video educativo',
    'micro-formato',
    'mockumentary'
);


ALTER TYPE public.formatos OWNER TO admin;

--
-- Name: generos; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.generos AS ENUM (
    'accion',
    'comedia',
    'aventura',
    'drama',
    'terror',
    'ciencia ficcion',
    'fantasia',
    'suspenso',
    'musical',
    'western',
    'belico',
    'romance',
    'crimen',
    'misterio',
    'animacion',
    'biopic',
    'documental',
    'video',
    'artes marciales',
    'thriller',
    'Hist├│rico',
    'epoca',
    'familiar',
    'deportivo',
    'horror',
    'paranormal',
    'otro'
);


ALTER TYPE public.generos OWNER TO admin;

--
-- Name: generosex; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.generosex AS ENUM (
    'masculino',
    'fenemino',
    'otro'
);


ALTER TYPE public.generosex OWNER TO admin;

--
-- Name: jerarquias_rol; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.jerarquias_rol AS ENUM (
    'productora',
    'direccion',
    'alto',
    'medio',
    'bajo'
);


ALTER TYPE public.jerarquias_rol OWNER TO admin;

--
-- Name: momentodia; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.momentodia AS ENUM (
    'dia',
    'noche',
    'amanecer',
    'atardecer',
    'amanecer/dia',
    'dia/noche'
);


ALTER TYPE public.momentodia OWNER TO admin;

--
-- Name: tipo_documento; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.tipo_documento AS ENUM (
    'CC',
    'TI',
    'NIT',
    'CE',
    'PA'
);


ALTER TYPE public.tipo_documento OWNER TO admin;

--
-- Name: vistalugar; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.vistalugar AS ENUM (
    'int',
    'ext',
    'int/ext',
    'ext/int'
);


ALTER TYPE public.vistalugar OWNER TO admin;

--
-- Name: gen_id_actor(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.gen_id_actor() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.id_actor := 'act' || nextval('actor_seq');

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.gen_id_actor() OWNER TO admin;

--
-- Name: gen_id_departamento(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.gen_id_departamento() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.id_departamento := 'area' || LPAD(nextval('departamento_seq')::text, 2, '0');

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.gen_id_departamento() OWNER TO admin;

--
-- Name: gen_id_escena(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.gen_id_escena() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.id_escena := 'esc' || LPAD(nextval('escena_seq')::text, 3, '0');

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.gen_id_escena() OWNER TO admin;

--
-- Name: gen_id_personaje(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.gen_id_personaje() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.id_personaje := 'cast' || nextval('personajes_seq');

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.gen_id_personaje() OWNER TO admin;

--
-- Name: generar_id_project(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.generar_id_project() RETURNS character varying
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN 'proj' || LPAD(nextval('project_seq')::TEXT, 4, '0');

END;

$$;


ALTER FUNCTION public.generar_id_project() OWNER TO admin;

--
-- Name: actor_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.actor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actor_seq OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actors; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.actors (
    id_actor text NOT NULL,
    nombre character varying(45) NOT NULL,
    apellido character varying(45) NOT NULL,
    genero public.generosex NOT NULL,
    fecha_de_nacimiento date NOT NULL,
    talla_zapatos character varying(10) NOT NULL,
    ancho_espalda character varying(30) NOT NULL,
    pecho character varying(30) NOT NULL,
    cintura character varying(30) NOT NULL,
    cadera character varying(30) NOT NULL,
    largo_manga character varying(30) NOT NULL,
    largo_pierna character varying(30) NOT NULL,
    talla_anillo text,
    contorno_cabeza character varying(30),
    contorno_cuello character varying(30),
    color_cabello character varying(45) NOT NULL,
    textura_cabello character varying(45) NOT NULL,
    tipo_piel character varying(45) NOT NULL,
    color_ojos character varying(45) NOT NULL,
    alergias text,
    habilidades_especiales text,
    restricciones text,
    comentarios_adicionales text,
    nacionalidad character varying(50) NOT NULL,
    doble_riesgo boolean NOT NULL,
    id_personaje text
);


ALTER TABLE public.actors OWNER TO admin;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.clients (
    id_cliente integer NOT NULL,
    document public.tipo_documento NOT NULL,
    razon_social character varying(50) NOT NULL,
    representante_legal character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    address character varying(100) NOT NULL,
    telephone character varying(15),
    number_cellphone character varying(20) NOT NULL,
    id_document text
);


ALTER TABLE public.clients OWNER TO admin;

--
-- Name: clients_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.clients_id_cliente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_cliente_seq OWNER TO admin;

--
-- Name: clients_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.clients_id_cliente_seq OWNED BY public.clients.id_cliente;


--
-- Name: departamento_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.departamento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departamento_seq OWNER TO admin;

--
-- Name: departamentos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.departamentos (
    id_departamento text NOT NULL,
    nombre character varying(45) NOT NULL,
    ubicacion text NOT NULL
);


ALTER TABLE public.departamentos OWNER TO admin;

--
-- Name: desglose_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.desglose_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.desglose_seq OWNER TO admin;

--
-- Name: desgloses; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.desgloses (
    id_desglose text DEFAULT ('desg'::text || nextval('public.desglose_seq'::regclass)) NOT NULL,
    version character varying(50) NOT NULL,
    semana_grabacion integer,
    dia_rodaje integer,
    hora_inicio time without time zone,
    hora_fin time without time zone,
    location character varying(200),
    requerimientos text NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.desgloses OWNER TO admin;

--
-- Name: escena_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.escena_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.escena_seq OWNER TO admin;

--
-- Name: escenas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.escenas (
    id_escena text NOT NULL,
    numero_de_escena character varying(45) NOT NULL,
    encabezado text NOT NULL,
    descripcion text,
    id_guion integer,
    modo_vista public.vistalugar,
    momento_dia public.momentodia,
    ciudad text,
    pagina integer,
    fecha_de_grabacion date,
    dia_dramatico integer,
    id_rodaje text,
    id_desglose text
);


ALTER TABLE public.escenas OWNER TO admin;

--
-- Name: escenas_personajes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.escenas_personajes (
    id_escena text NOT NULL,
    id_personaje text NOT NULL
);


ALTER TABLE public.escenas_personajes OWNER TO admin;

--
-- Name: guiones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.guiones (
    id_guion integer NOT NULL,
    numero_de_version character varying(45) NOT NULL,
    fecha_de_emision date NOT NULL,
    estado public.estado_guion NOT NULL,
    archivo text NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    id_project text
);


ALTER TABLE public.guiones OWNER TO admin;

--
-- Name: guiones_id_guion_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.guiones_id_guion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guiones_id_guion_seq OWNER TO admin;

--
-- Name: guiones_id_guion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.guiones_id_guion_seq OWNED BY public.guiones.id_guion;


--
-- Name: permiso_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.permiso_seq
    START WITH 2001
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permiso_seq OWNER TO admin;

--
-- Name: permisos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.permisos (
    id_permiso integer DEFAULT nextval('public.permiso_seq'::regclass) NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(100) NOT NULL,
    modulo character varying(50),
    descripcion text,
    activo boolean DEFAULT true
);


ALTER TABLE public.permisos OWNER TO admin;

--
-- Name: personajes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.personajes (
    id_personaje text NOT NULL,
    nombre character varying(45) NOT NULL,
    edad integer NOT NULL,
    codigo_personaje character varying(30) NOT NULL
);


ALTER TABLE public.personajes OWNER TO admin;

--
-- Name: personajes_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.personajes_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personajes_seq OWNER TO admin;

--
-- Name: plan_rodaje_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.plan_rodaje_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plan_rodaje_seq OWNER TO admin;

--
-- Name: plan_rodaje; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.plan_rodaje (
    id_rodaje text DEFAULT ('rod'::text || nextval('public.plan_rodaje_seq'::regclass)) NOT NULL,
    version character varying(50) NOT NULL,
    semana_grabacion integer,
    dia_rodaje integer,
    hora_inicio time without time zone,
    hora_fin time without time zone,
    location character varying(200),
    notas text,
    activo boolean DEFAULT true
);


ALTER TABLE public.plan_rodaje OWNER TO admin;

--
-- Name: project_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.project_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_seq OWNER TO admin;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.projects (
    id_project character varying(20) DEFAULT public.generar_id_project() NOT NULL,
    project_name character varying(45) NOT NULL,
    formato_de_produccion public.formatos NOT NULL,
    genero public.generos,
    sinopsis text,
    director character varying NOT NULL,
    id_client integer
);


ALTER TABLE public.projects OWNER TO admin;

--
-- Name: rol_has_permisos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rol_has_permisos (
    rol_idrol integer NOT NULL,
    permisos_idpermiso integer NOT NULL
);


ALTER TABLE public.rol_has_permisos OWNER TO admin;

--
-- Name: rol_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.rol_seq
    START WITH 1001
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_seq OWNER TO admin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roles (
    id_rol integer DEFAULT nextval('public.rol_seq'::regclass) NOT NULL,
    nombre character varying(45) NOT NULL,
    nivel_jerarquia public.jerarquias_rol NOT NULL,
    descripcion text NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.roles OWNER TO admin;

--
-- Name: user_projects; Type: TABLE; Schema: public; Owner: carlos.yaya
--

CREATE TABLE public.user_projects (
    id integer NOT NULL,
    id_user integer NOT NULL,
    id_project character varying NOT NULL,
    id_rol integer DEFAULT 1005 NOT NULL,
    fecha_vinculacion timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_projects OWNER TO "carlos.yaya";

--
-- Name: user_projects_id_seq; Type: SEQUENCE; Schema: public; Owner: carlos.yaya
--

CREATE SEQUENCE public.user_projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_projects_id_seq OWNER TO "carlos.yaya";

--
-- Name: user_projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: carlos.yaya
--

ALTER SEQUENCE public.user_projects_id_seq OWNED BY public.user_projects.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id_user bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    apellido character varying(255) NOT NULL,
    identificacion public.tipo_documento NOT NULL,
    id_identificacion text NOT NULL,
    mail character varying(255) NOT NULL,
    msisdn text NOT NULL,
    direccion text,
    fecha_de_nacimiento date,
    estado character varying(255) NOT NULL,
    fecha_de_creacion timestamp with time zone NOT NULL,
    ultimo_acceso timestamp with time zone NOT NULL,
    contrasena character varying(255) NOT NULL,
    id_departamento character varying(255),
    id_project text,
    id_rol bigint
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_user_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_user_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_user_seq OWNER TO admin;

--
-- Name: users_id_user_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_user_seq OWNED BY public.users.id_user;


--
-- Name: clients id_cliente; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clients ALTER COLUMN id_cliente SET DEFAULT nextval('public.clients_id_cliente_seq'::regclass);


--
-- Name: guiones id_guion; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.guiones ALTER COLUMN id_guion SET DEFAULT nextval('public.guiones_id_guion_seq'::regclass);


--
-- Name: user_projects id; Type: DEFAULT; Schema: public; Owner: carlos.yaya
--

ALTER TABLE ONLY public.user_projects ALTER COLUMN id SET DEFAULT nextval('public.user_projects_id_seq'::regclass);


--
-- Name: users id_user; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id_user SET DEFAULT nextval('public.users_id_user_seq'::regclass);


--
-- Data for Name: actors; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.actors (id_actor, nombre, apellido, genero, fecha_de_nacimiento, talla_zapatos, ancho_espalda, pecho, cintura, cadera, largo_manga, largo_pierna, talla_anillo, contorno_cabeza, contorno_cuello, color_cabello, textura_cabello, tipo_piel, color_ojos, alergias, habilidades_especiales, restricciones, comentarios_adicionales, nacionalidad, doble_riesgo, id_personaje) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: desgloses; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.desgloses (id_desglose, version, semana_grabacion, dia_rodaje, hora_inicio, hora_fin, location, requerimientos, activo) FROM stdin;
\.


--
-- Data for Name: escenas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: escenas_personajes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.escenas_personajes (id_escena, id_personaje) FROM stdin;
\.


--
-- Data for Name: guiones; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.guiones (id_guion, numero_de_version, fecha_de_emision, estado, archivo, nombre, descripcion, id_project) FROM stdin;
1	V.0	2026-03-16	Archivado	https://docs.google.com/document/d/1kjljJBa1twUcqWfE6xr0LyqAovkf6uEHOB3sF0XCW9s/edit?tab=t.0	El silencio de la niebla	primer gui├│n	proj0001
2	V.1	2026-03-24	Aprobado	https://docs.google.com/document/d/1kjljJBa1twUcqWfE6xr0LyqAovkf6uEHOB3sF0XCW9s/edit?tab=t.0	El silencio de la niebla	ampliacion de escenas por la muerte del primer ministro	proj0001
\.


--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: personajes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.personajes (id_personaje, nombre, edad, codigo_personaje) FROM stdin;
\.


--
-- Data for Name: plan_rodaje; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.plan_rodaje (id_rodaje, version, semana_grabacion, dia_rodaje, hora_inicio, hora_fin, location, notas, activo) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rol_has_permisos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.roles (id_rol, nombre, nivel_jerarquia, descripcion, activo) FROM stdin;
1001	Administrador	productora	Control total del sistema	t
1002	Director	direccion	Aprueba y supervisa producci├│n	t
1003	Jefe de Departamento	alto	Gestiona su departamento	t
1004	Onset	medio	Sube y consulta informaci├│n en producci├│n	t
1005	Usuario	bajo	Solo consulta informaci├│n	t
\.


--
-- Data for Name: user_projects; Type: TABLE DATA; Schema: public; Owner: carlos.yaya
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: actor_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.actor_seq', 1, false);


--
-- Name: clients_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.clients_id_cliente_seq', 10025, true);


--
-- Name: departamento_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.departamento_seq', 42, true);


--
-- Name: desglose_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.desglose_seq', 1, false);


--
-- Name: escena_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.escena_seq', 7, true);


--
-- Name: guiones_id_guion_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.guiones_id_guion_seq', 2, true);


--
-- Name: permiso_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.permiso_seq', 2024, true);


--
-- Name: personajes_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.personajes_seq', 1, false);


--
-- Name: plan_rodaje_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.plan_rodaje_seq', 1, false);


--
-- Name: project_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.project_seq', 1, false);


--
-- Name: rol_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rol_seq', 1005, true);


--
-- Name: user_projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: carlos.yaya
--

SELECT pg_catalog.setval('public.user_projects_id_seq', 24, true);


--
-- Name: users_id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_user_seq', 3110, true);


--
-- Name: actors actors_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_pkey PRIMARY KEY (id_actor);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id_cliente);


--
-- Name: departamentos departamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departamentos
    ADD CONSTRAINT departamentos_pkey PRIMARY KEY (id_departamento);


--
-- Name: desgloses desgloses_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.desgloses
    ADD CONSTRAINT desgloses_pkey PRIMARY KEY (id_desglose);


--
-- Name: escenas_personajes escenas_personajes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas_personajes
    ADD CONSTRAINT escenas_personajes_pkey PRIMARY KEY (id_escena, id_personaje);


--
-- Name: escenas escenas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas
    ADD CONSTRAINT escenas_pkey PRIMARY KEY (id_escena);


--
-- Name: guiones guiones_numero_de_version_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.guiones
    ADD CONSTRAINT guiones_numero_de_version_key UNIQUE (numero_de_version);


--
-- Name: guiones guiones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.guiones
    ADD CONSTRAINT guiones_pkey PRIMARY KEY (id_guion);


--
-- Name: permisos permisos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_codigo_key UNIQUE (codigo);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id_permiso);


--
-- Name: personajes personajes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.personajes
    ADD CONSTRAINT personajes_pkey PRIMARY KEY (id_personaje);


--
-- Name: plan_rodaje plan_rodaje_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.plan_rodaje
    ADD CONSTRAINT plan_rodaje_pkey PRIMARY KEY (id_rodaje);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id_project);


--
-- Name: rol_has_permisos rol_has_permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_has_permisos
    ADD CONSTRAINT rol_has_permisos_pkey PRIMARY KEY (rol_idrol, permisos_idpermiso);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id_rol);


--
-- Name: user_projects user_projects_id_user_id_project_key; Type: CONSTRAINT; Schema: public; Owner: carlos.yaya
--

ALTER TABLE ONLY public.user_projects
    ADD CONSTRAINT user_projects_id_user_id_project_key UNIQUE (id_user, id_project);


--
-- Name: user_projects user_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: carlos.yaya
--

ALTER TABLE ONLY public.user_projects
    ADD CONSTRAINT user_projects_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id_user);


--
-- Name: idx_permisos_codigo; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_permisos_codigo ON public.permisos USING btree (codigo);


--
-- Name: idx_permisos_modulo; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_permisos_modulo ON public.permisos USING btree (modulo);


--
-- Name: actors trg_id_actor; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_id_actor BEFORE INSERT ON public.actors FOR EACH ROW EXECUTE FUNCTION public.gen_id_actor();


--
-- Name: departamentos trg_id_departamento; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_id_departamento BEFORE INSERT ON public.departamentos FOR EACH ROW EXECUTE FUNCTION public.gen_id_departamento();


--
-- Name: escenas trg_id_escena; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_id_escena BEFORE INSERT ON public.escenas FOR EACH ROW EXECUTE FUNCTION public.gen_id_escena();


--
-- Name: personajes trg_id_personaje; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_id_personaje BEFORE INSERT ON public.personajes FOR EACH ROW EXECUTE FUNCTION public.gen_id_personaje();


--
-- Name: actors fk_actor_personaje; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT fk_actor_personaje FOREIGN KEY (id_personaje) REFERENCES public.personajes(id_personaje) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: escenas fk_escenas_desglose; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas
    ADD CONSTRAINT fk_escenas_desglose FOREIGN KEY (id_desglose) REFERENCES public.desgloses(id_desglose) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: escenas fk_escenas_guion; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas
    ADD CONSTRAINT fk_escenas_guion FOREIGN KEY (id_guion) REFERENCES public.guiones(id_guion) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: escenas_personajes fk_escenas_personajes_escena; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas_personajes
    ADD CONSTRAINT fk_escenas_personajes_escena FOREIGN KEY (id_escena) REFERENCES public.escenas(id_escena) ON DELETE CASCADE;


--
-- Name: escenas_personajes fk_escenas_personajes_personaje; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas_personajes
    ADD CONSTRAINT fk_escenas_personajes_personaje FOREIGN KEY (id_personaje) REFERENCES public.personajes(id_personaje) ON DELETE CASCADE;


--
-- Name: escenas fk_escenas_rodaje; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.escenas
    ADD CONSTRAINT fk_escenas_rodaje FOREIGN KEY (id_rodaje) REFERENCES public.plan_rodaje(id_rodaje) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guiones fk_guion_project; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.guiones
    ADD CONSTRAINT fk_guion_project FOREIGN KEY (id_project) REFERENCES public.projects(id_project) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: projects fk_project_client; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_project_client FOREIGN KEY (id_client) REFERENCES public.clients(id_cliente) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rol_has_permisos fk_rol_has_permisos_permisos; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_has_permisos
    ADD CONSTRAINT fk_rol_has_permisos_permisos FOREIGN KEY (permisos_idpermiso) REFERENCES public.permisos(id_permiso) ON DELETE CASCADE;


--
-- Name: rol_has_permisos fk_rol_has_permisos_rol; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_has_permisos
    ADD CONSTRAINT fk_rol_has_permisos_rol FOREIGN KEY (rol_idrol) REFERENCES public.roles(id_rol) ON DELETE CASCADE;


--
-- Name: users fk_users_departamento; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_departamento FOREIGN KEY (id_departamento) REFERENCES public.departamentos(id_departamento) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users fk_users_rol; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_rol FOREIGN KEY (id_rol) REFERENCES public.roles(id_rol) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_projects user_projects_id_project_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carlos.yaya
--

ALTER TABLE ONLY public.user_projects
    ADD CONSTRAINT user_projects_id_project_fkey FOREIGN KEY (id_project) REFERENCES public.projects(id_project) ON DELETE CASCADE;


--
-- Name: user_projects user_projects_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carlos.yaya
--

ALTER TABLE ONLY public.user_projects
    ADD CONSTRAINT user_projects_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.users(id_user) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eFnag7fVk68NssBcifc9p0IiSe72TPtzUGHIwSacdt7srEGf7htP4j7cGrcivwJ

